.NextBriefingCard {

    .data-wraper {
        justify-content: space-between;

        .all-data-wraper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: var(--padding-s);

            .date-time-wraper {
                display: flex;
                gap: var(--padding-l);
            }
        }



        .data-div {
            justify-content: start;
        }

        .btn {
            grid-area: btn;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 35px;
            padding: var(--padding-s);
            background-color: var(--color-4);
            color: var(--dark-text-color);
            border-radius: var(--radius-s);
            box-shadow: var(--shadow-m);
            font-size: 1.5em;
            width: 50px;

            &:active {
                box-shadow: var(--shadow-s);
            }
        }
    }
}

#briefing-location-span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}