.NextBriefingCard {

    .data-wraper {
        display: grid;
        grid-template-areas:
            "date date time time btn btn"
            "location location location location btn btn";
        justify-content: space-between;
        width: 100%;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);

        .data-div {
            justify-content: start;
        }

        .date {
            grid-area: date;
        }

        .time {
            grid-area: time;
        }

        .location {
            grid-area: location;
        }

        .btn {
            grid-area: btn;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30px;
            padding: var(--padding-s);
            background-color: var(--color-4);
            color: var(--dark-text-color);
            font-weight: bold;
            border-radius: var(--radius-s);
            box-shadow: var(--shadow-m);
            font-size: 1.5em;

            &:active {
                box-shadow: var(--shadow-s);
            }
        }
    }
}

#briefing-location-span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}