.LayOut {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;

    main {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding: 15px;
        width: 100%;
        flex: 1;
    }
}