.SoldierCountCard {

    .bar {
        padding: 5px 10px;
        border-radius: 20px;
        background-color: var(--light-text-color);
        font-weight: bold;
    }

    .data-div {
        padding: 0 5px;
        gap: var(--padding-s);
    }
}