.WeatherCard {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    i {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2em;
    }

    .weather-icon {
        position: absolute;
        top: -14px;
        left: -14px;
        font-size: 3em;
        color: var(--color-1);
    }

    .location {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--padding-m);

        span {
            font-weight: bold;
        }

        i {
            color: var(--color-1);
            font-size: 1em;
        }
    }

    .wind {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}